@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .app {
        @apply
        flex flex-col items-center justify-center
        w-screen h-screen
        bg-green-500
        text-white
    }

    /* === NAVBAR === NAVBAR === NAVBAR === */

    .nav {
        @apply
        flex justify-between items-center
        p-3
        bg-slate-900
        border-[1px] border-solid border-black
        absolute top-0 left-0 right-0
    }

    .nav h1 {
        @apply
        text-2xl
        text-white
    }

    .nav li {
        @apply
        mx-2
        text-white
        border-[1px] border-solid border-white rounded-md
        px-2 py-1
        cursor-pointer
    }

    .nav li:hover {
        @apply
        bg-slate-700
    }

    /* === HOME PAGE === HOME PAGE === HOME PAGE ===  */

    .home {
        @apply
        flex flex-col items-center justify-between
        w-screen h-screen
        bg-green-800
        text-white
        overflow-y-hidden
    }

    .home-header {
        @apply
        flex flex-col items-center justify-between
        text-4xl
        mt-[15rem]
        mb-[15rem]
    }

    .home-nav {
        @apply
        flex justify-between items-center
        w-[100%]
    }

    .home-nav * {
        @apply
        mx-2
        text-white
        border-[1px] border-solid border-white rounded-md
        px-12 py-12
        cursor-pointer
    }

    .home-nav *:hover {
        @apply
        bg-slate-700
    }

    .home-footer {
        @apply
        text-2xl
        mb-[15rem]
    }

    /* === RULES === RULES === RULES ==== */
    .rules {
        @apply
        flex flex-col items-center justify-between
        w-screen h-screen
        bg-green-800
        text-white
        overflow-hidden
        py-[10rem]
        border-[1px] border-solid border-white rounded-md
    }

    .rules ul {
        @apply
        text-[1rem]
        w-[100%]
        ml-[5rem]
        my-1
        border-[1px] border-solid border-blue-800 rounded-md
    }

    .rules h2 {
        @apply
        text-4xl
        border-[1px] border-solid border-white rounded-md
    }




    /* === GAME PAGE === GAME PAGE === GAME PAGE === */

    .table {
        @apply
        flex flex-col items-center justify-center
        w-[100rem] h-[80em]
        bg-green-700
        text-white
    }

    .octagon-table {
        @apply
        relative
        bg-green-700
        w-[75rem] h-[75rem] m-[5rem]
        flex items-center justify-center
    }

    .octagon-table-2 {
        @apply
        absolute
        bg-orange-950
        w-[80rem] h-[80rem] m-[5rem]
    }

    .draw-pile {
        @apply
        border-[5px] border-solid border-white rounded-md
        w-[10rem] h-[15rem];
    }

    /* === DECK EDITOR === DECK EDITOR === DECK EDITOR === */
    .deck-editor {
        @apply
        flex flex-col items-center justify-between
        w-screen h-screen
        bg-green-800
        text-white
        overflow-hidden
        py-[10rem]
        border-[1px] border-solid border-white rounded-md
    }

    .deck {
        @apply
        flex flex-wrap items-center justify-between
        w-[100%]
        bg-green-800
        text-white
        border-[1px] border-solid border-white rounded-md
    }

    /* === CARD FACE === CARD FACE === CARD FACE === */

    .card-face, .card-face-red {
        @apply
        bg-white
        w-[7rem] h-[10rem]
        flex items-center justify-center
        border-[1px] border-solid border-black rounded-md
        m-1
    }

    .card-face-red {
        @apply
        text-red-600
    }

    .card-face {
        @apply
        text-black
    }

    .left, .right {
        @apply
        w-[15%] h-[100%]
        text-[1rem]
        flex flex-col items-center
    }

    .center {
        @apply
        w-[100%] h-[100%]
        text-[2rem]
        flex items-center justify-evenly
    }

    .center-left, .center-center, .center-right {
        @apply
        w-[30%] h-[100%]
        flex flex-col justify-evenly
        
    }

    .center-left-cramped div, .center-right-cramped div{
        @apply
        my-[-1rem]
    }

    .face-card-image{
        @apply
        mx-[.125rem]
    }

    .joker-text{
        @apply
        flex flex-col items-center justify-center
        w-[100%]
        text-[0.75rem]
    }

    .joker-text span{
        @apply
        m-[-0.20rem] p-0
    }
}

@layer utilities {
    .octagon-table-2 {
        top: -40px; /* Adjust based on desired border size */
        left: -40px;
        right: -20px;
        bottom: -20px;
        z-index: -2;
    }

    .octagon-table-path {
        clip-path: polygon(
          30% 0%, /* Top left */
          70% 0%, /* Top right */
          100% 30%, /* Right top */
          100% 70%, /* Right bottom */
          70% 100%, /* Bottom right */
          30% 100%, /* Bottom left */
          0% 70%, /* Left bottom */
          0% 30% /* Left top */
        );
    }
}
